{% extends "base.html" %}
{% block title %}Vortext | Your Twitter links{% endblock %}
{% block description %}Vortext | List, filter, and organize all the links you've posted to Twitter{% endblock %}
{% block content %}
  <div class="welcome">
    <p>Sign in to view, filter, and organize all the links you've posted to Twitter. Search by hashtag, keyword, site, @-mention, or author.</p>
   <p><a href="/auth/twitter"><img src="/static/sign-in-with-twitter-gray.png"/></a></p>
   <p style="font-size:medium;">(View an <a href="http://www.vortext.co/rezendi/search/bitcoin">example</a> of the results.)</p>
  </div>
{% endblock %}