#loader {
  background-image: url("/static/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin:12px;
  display:none;
}

#explainer, #sorry {
  text-align: center;
}

.welcome, .message, #profile_container {
  text-align: center;
}

.welcome {
  font-size: 24px;
}

.profile_field {
  margin-top:10px;
}

